In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [3]:
import sys
sys.path.insert(0, '..')
from bcb import ODataAPI

In [9]:
url = "https://olinda.bcb.gov.br/olinda/servico/selic_operacoes/versao/v1/odata/"
service = ODataAPI(url)
service.describe()

EntitySets:
  DatasOperacoesSelic
FunctionImports:
  OperacoesEmUmAno
  OperacoesEmUmaData

In [6]:
service.describe("Selic")

EntitySet (Endpoint): Selic
EntityType: br.gov.bcb.olinda.servico.ResumoCamaras_pt.ResumoMensalSelic
Properties: mes<str>, valorOperacoes<float>, quantidadeOperacoes<float>

In [7]:
ep = service.get_endpoint('Selic')
ep.query().limit(10).collect()

        mes  valorOperacoes  quantidadeOperacoes
0  abr/2002           77697                 1794
1  mai/2002          105404                 2276
2  jun/2002          110795                 2307
3  jul/2002          124820                 2322
4  ago/2002          141438                 2423
5  set/2002          186351                 2504
6  out/2002          205648                 2715
7  nov/2002          244837                 2969
8  dez/2002          257006                 2837
9  jan/2003          249945                 2907

In [23]:
df = ep.query().filter(ep.anoMes >= "2020-00").collect()

In [28]:
df.groupby("Modalidade").agg({"TaxaJurosAoAno": "median"})

                                                    TaxaJurosAoAno
Modalidade
FINANCIAMENTO IMOBILIÁRIO COM TAXAS DE MERCADO ...          13.860
FINANCIAMENTO IMOBILIÁRIO COM TAXAS DE MERCADO ...           9.310
FINANCIAMENTO IMOBILIÁRIO COM TAXAS DE MERCADO ...           7.740
FINANCIAMENTO IMOBILIÁRIO COM TAXAS REGULADAS -...           9.415
FINANCIAMENTO IMOBILIÁRIO COM TAXAS REGULADAS -...           4.490
FINANCIAMENTO IMOBILIÁRIO COM TAXAS REGULADAS -...           7.400

In [26]:
df.groupby(["Modalidade", "anoMes"]).agg({"TaxaJurosAoAno": "median"})

                                                            TaxaJurosAoAno
Modalidade                                         anoMes
FINANCIAMENTO IMOBILIÁRIO COM TAXAS DE MERCADO ... 2020-01          14.485
                                                   2020-02          14.120
                                                   2020-03          14.145
                                                   2020-04          13.950
                                                   2020-05          15.210
...                                                                    ...
FINANCIAMENTO IMOBILIÁRIO COM TAXAS REGULADAS -... 2022-03           8.065
                                                   2022-04           8.020
                                                   2022-05           8.390
                                                   2022-06           8.340
                                                   2022-07           8.450

[183 rows x 1 columns]

In [8]:
service.describe("TaxasJurosDiariaPorInicioPeriodo")

EntitySet (Endpoint): TaxasJurosDiariaPorInicioPeriodo
EntityType: br.gov.bcb.olinda.servico.taxaJuros.TaxaJurosDiaria
Properties: InicioPeriodo<str>, FimPeriodo<str>, Segmento<str>, Modalidade<str>, Posicao<int>, InstituicaoFinanceira<str>, TaxaJurosAoMes<float>, TaxaJurosAoAno<float>, cnpj8<str>

In [9]:
ep = service.get_endpoint("TaxasJurosDiariaPorInicioPeriodo")
ep.query().limit(10).collect()

,InicioPeriodo,FimPeriodo,Segmento,Modalidade,Posicao,InstituicaoFinanceira,TaxaJurosAoMes,TaxaJurosAoAno,cnpj8
0,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,1,BCO SOCIETE GENERALE BRASIL,0.00,0.00,61533584
1,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,2,ITAÚ UNIBANCO S.A.,0.10,1.26,60701190
2,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,3,BCO MIZUHO S.A.,0.28,3.35,61088183
3,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,4,BCO RABOBANK INTL BRASIL S.A.,0.31,3.74,01023570
4,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,5,BCO DA CHINA BRASIL S.A.,0.31,3.82,10690848
5,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,6,BCO MUFG BRASIL S.A.,0.32,3.96,60498557
6,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,7,BCO DO BRASIL S.A.,0.34,4.21,00000000
7,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,8,BCO BNP PARIBAS BRASIL S A,0.37,4.47,01522368
8,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,9,SCOTIABANK BRASIL,0.37,4.48,29030467
9,2022-08-19,2022-08-25,PESSOA JURÍDICA,ADIANTAMENTO SOBRE CONTRATOS DE CÂMBIO (ACC) -...,10,BCO SUMITOMO MITSUI BRASIL S.A.,0.40,4.87,60518222